body {
   Position: Absolute;
   left: 0px;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   fon-size: 30px;
   
}

.Main {
   Position: Absolute;
   left: 0px;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   fon-size: 30px;
}
