body {
   background-image: url("https://i.ytimg.com/vi/3REIkfB0lhA/maxresdefault.jpg");
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center;
   Position: Absolute;
   left: 0px;
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-size: 30px;
   
}

.Main {
   Position: Absolute;
   left: 0px;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-size: 60px;
}
#time {
   Position: absolute;
   left: 650px;
   top: 300px;
   color: white;
} 
